Repository COS301-SE-2021/High-Five, pull requests merged in 2021-06, with the labels that each got.

#34 Merge video streaming into mobile-development
  CODINGSTYLE.md
  mobile/angular.json
  mobile/ionic.config.json
  mobile/package-lock.json
  mobile/package.json
  mobile/src/app/app.module.ts
  mobile/src/app/components/components.module.ts
  mobile/src/app/components/videostore-card/videostore-card.component.html
  mobile/src/app/components/videostore-card/videostore-card.component.scss
  mobile/src/app/components/videostore-card/videostore-card.component.ts
  mobile/src/app/components/videostream-card/videostream-card.component.html
  mobile/src/app/components/videostream-card/videostream-card.component.scss
  mobile/src/app/components/videostream-card/videostream-card.component.spec.ts
  mobile/src/app/components/videostream-card/videostream-card.component.ts
  mobile/src/app/pages/navbar/navbar.page.html
  mobile/src/app/pages/navbar/navbar.page.ts
  mobile/src/global.scss
Labels: documentation, enhancement

#36 Added background to welcome screen
  mobile/src/app/components/welcome-card/welcome-card.component.html
  mobile/src/app/components/welcome-card/welcome-card.component.scss
  mobile/src/app/pages/welcome/welcome.page.html
  mobile/src/app/pages/welcome/welcome.page.scss
  mobile/src/app/pages/welcome/welcome.page.ts
  mobile/src/assets/images/welcome_landscape.svg
Labels: frontend

#49 Backend feature videostorage
  .gitignore
  backend/.gitignore
  backend/HighFive/src/Data Models/User.cs
  backend/HighFive/src/OpenAPI/Attributes/ValidateModelStateAttribute.cs
  backend/HighFive/src/OpenAPI/Controllers/MediaStorageApi.cs
  backend/HighFive/src/OpenAPI/Controllers/TestApi.cs
  backend/HighFive/src/OpenAPI/Converters/CustomEnumConverter.cs
  backend/HighFive/src/OpenAPI/Models/EchoRequest.cs
  backend/HighFive/src/OpenAPI/Models/EmptyObject.cs
  backend/HighFive/src/OpenAPI/Models/PingResponse.cs
  backend/HighFive/src/OpenAPI/Models/RetrieveVideosResponse.cs
  backend/HighFive/src/OpenAPI/Models/StoreVideoResponse.cs
  backend/HighFive/src/Program.cs
  backend/HighFive/src/Resources/HighFiveContext.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Startup.cs
  backend/HighFive/src/Storage/IStorageManager.cs
  backend/HighFive/src/Storage/StorageManager.cs
  backend/HighFive/src/Subsystems/MediaStorage/IMediaStorageService.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageController.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageService.cs
  backend/HighFive/src/Subsystems/Test/TestController.cs
  backend/HighFive/src/Subsystems/User/UserQueries.cs
  backend/HighFive/src/appsettings.Development.json
  backend/HighFive/src/appsettings.json
  backend/HighFive/src/src.csproj
Labels: api, backend, media storage

#61 Backend feature videostorage
  backend/HighFive/src/Storage/StorageManager.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageController.cs
Labels: backend, bug, media storage

#66 Backend feature pipelinestorage
  backend/HighFive/src/OpenAPI/Controllers/MediaStorageApi.cs
  backend/HighFive/src/OpenAPI/Controllers/PipelinesApi.cs
  backend/HighFive/src/OpenAPI/Models/AddToolsRequest.cs
  backend/HighFive/src/OpenAPI/Models/CreatePipelineRequest.cs
  backend/HighFive/src/OpenAPI/Models/DeletePipelineRequest.cs
  backend/HighFive/src/OpenAPI/Models/DeleteVideoRequest.cs
  backend/HighFive/src/OpenAPI/Models/GetPipelinesResponse.cs
  backend/HighFive/src/OpenAPI/Models/NewPipeline.cs
  backend/HighFive/src/OpenAPI/Models/Pipeline.cs
  backend/HighFive/src/OpenAPI/Models/RemoveToolsRequest.cs
  backend/HighFive/src/Program.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Startup.cs
  backend/HighFive/src/Storage/IStorageManager.cs
  backend/HighFive/src/Storage/StorageManager.cs
  backend/HighFive/src/Subsystems/MediaStorage/IMediaStorageService.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageController.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageService.cs
  backend/HighFive/src/Subsystems/Pipelines/IPipelineService.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineController.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineService.cs
  backend/HighFive/src/appsettings.json
Labels: api, backend, enhancement, pipelines

#68 Backend feature videostorage
  backend/HighFive/src/OpenAPI/Controllers/MediaStorageApi.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageController.cs
Labels: backend, media storage, requested

#73 Backend feature videostorage
  backend/HighFive/src/OpenAPI/Controllers/MediaStorageApi.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Storage/StorageManager.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageController.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageService.cs
  backend/HighFive/src/Subsystems/Pipelines/IPipelineService.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineService.cs
  backend/HighFive/src/Utils/Controller/GetVideoApi.cs
  backend/HighFive/src/Utils/Controller/GetVideoController.cs
  backend/HighFive/tests/UnitTest1.cs
  backend/HighFive/tests/UnitTests/Subsystems/MediaStorageUnitTests.cs
  backend/HighFive/tests/UnitTests/Subsystems/PipelinesUnitTest.cs
  backend/HighFive/tests/tests.csproj
Labels: api, backend, media storage, pipelines, unit tests

#75 Backend-feature-pipelinestorage
  backend/HighFive/src/Subsystems/Pipelines/PipelineService.cs
Labels: backend, pipelines, requested

#79 Added pipeline use cases
  mobile/package-lock.json
  mobile/package.json
  mobile/src/app/api.module.ts
  mobile/src/app/apis/api.ts
  mobile/src/app/apis/pipelines.service.ts
  mobile/src/app/app.module.ts
  mobile/src/app/components/add-pipeline/add-pipeline.component.html
  mobile/src/app/components/add-pipeline/add-pipeline.component.scss
  mobile/src/app/components/add-pipeline/add-pipeline.component.spec.ts
  mobile/src/app/components/add-pipeline/add-pipeline.component.ts
  mobile/src/app/components/components.module.ts
  mobile/src/app/components/edit-pipeline/edit-pipeline.component.html
  mobile/src/app/components/edit-pipeline/edit-pipeline.component.scss
  mobile/src/app/components/edit-pipeline/edit-pipeline.component.spec.ts
  mobile/src/app/components/edit-pipeline/edit-pipeline.component.ts
  mobile/src/app/components/pipeline/pipeline.component.html
  mobile/src/app/components/pipeline/pipeline.component.scss
  mobile/src/app/components/pipeline/pipeline.component.spec.ts
  mobile/src/app/components/pipeline/pipeline.component.ts
  mobile/src/app/components/register-card/register-card.component.ts
  mobile/src/app/components/videostore-card/videostore-card.component.ts
  mobile/src/app/components/videostream-card/videostream-card.component.ts
  mobile/src/app/configuration.ts
  mobile/src/app/encoder.ts
  mobile/src/app/index.ts
  mobile/src/app/models/addToolsRequest.ts
  mobile/src/app/models/createPipelineRequest.ts
  mobile/src/app/models/deletePipelineRequest.ts
  mobile/src/app/models/emptyObject.ts
  mobile/src/app/models/getPipelinesResponse.ts
  mobile/src/app/models/models.ts
  mobile/src/app/models/newPipeline.ts
  mobile/src/app/models/pipeline.model.ts
  mobile/src/app/models/pipeline.ts
  mobile/src/app/models/removeToolsRequest.ts
  mobile/src/app/ng-package.json
  mobile/src/app/pages/analytics/analytics.module.ts
  mobile/src/app/pages/analytics/analytics.page.html
  mobile/src/app/pages/analytics/analytics.page.ts
  mobile/src/app/pages/landing/landing.page.ts
  mobile/src/app/services/pipeline/pipeline.service.spec.ts
  mobile/src/app/services/pipeline/pipeline.service.ts
  mobile/src/app/variables.ts
  mobile/src/constants/register-constants.ts
  mobile/src/constants/toolset-constants.ts
Labels: analysis, enhancement, frontend, pipelines

#81 Backend development
  backend/HighFive/src/OpenAPI/Controllers/MediaStorageApi.cs
  backend/HighFive/src/OpenAPI/Controllers/PipelinesApi.cs
  backend/HighFive/src/OpenAPI/Models/AddToolsRequest.cs
  backend/HighFive/src/OpenAPI/Models/CreatePipelineRequest.cs
  backend/HighFive/src/OpenAPI/Models/DeletePipelineRequest.cs
  backend/HighFive/src/OpenAPI/Models/DeleteVideoRequest.cs
  backend/HighFive/src/OpenAPI/Models/GetPipelinesResponse.cs
  backend/HighFive/src/OpenAPI/Models/NewPipeline.cs
  backend/HighFive/src/OpenAPI/Models/Pipeline.cs
  backend/HighFive/src/OpenAPI/Models/RemoveToolsRequest.cs
  backend/HighFive/src/Program.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Startup.cs
  backend/HighFive/src/Storage/IStorageManager.cs
  backend/HighFive/src/Storage/StorageManager.cs
  backend/HighFive/src/Subsystems/MediaStorage/IMediaStorageService.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageController.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageService.cs
  backend/HighFive/src/Subsystems/Pipelines/IPipelineService.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineController.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineService.cs
  backend/HighFive/src/Utils/Controller/GetVideoApi.cs
  backend/HighFive/src/Utils/Controller/GetVideoController.cs
  backend/HighFive/src/appsettings.json
  backend/HighFive/src/src.csproj
  backend/HighFive/src/swagger.json
  backend/HighFive/tests/UnitTest1.cs
  backend/HighFive/tests/UnitTests/Subsystems/MediaStorageUnitTests.cs
  backend/HighFive/tests/UnitTests/Subsystems/PipelinesUnitTest.cs
  backend/HighFive/tests/tests.csproj
Labels: api, backend, enhancement, media storage, pipelines, unit tests
