Repository COS301-SE-2021/High-Five, pull requests merged in 2021-08, with the labels that each got.

#122 Added storage functionality for images
  backend/HighFive/src/OpenAPI/Controllers/MediaStorageApi.cs
  backend/HighFive/src/OpenAPI/Models/DeleteImageRequest.cs
  backend/HighFive/src/OpenAPI/Models/GetAllImagesResponse.cs
  backend/HighFive/src/OpenAPI/Models/GetImageResponse.cs
  backend/HighFive/src/OpenAPI/Models/StoreImageResponse.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Startup.cs
  backend/HighFive/src/Subsystems/MediaStorage/IMediaStorageService.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageController.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageService.cs
  backend/HighFive/src/Subsystems/Test/TestController.cs
  backend/HighFive/src/src.csproj
  backend/HighFive/tests/UnitTests/MediaStorageUnitTests.cs
  backend/HighFive/tests/UnitTests/PipelinesUnitTest.cs
Labels: api, backend, enhancement, media storage

#131 Backend feature blobstorage
  backend/HighFive/src/Startup.cs
  backend/HighFive/src/Storage/BlobFile.cs
  backend/HighFive/src/Storage/IStorageManager.cs
  backend/HighFive/src/Storage/MockStorageManager.cs
  backend/HighFive/src/Storage/StorageManager.cs
  backend/HighFive/src/Subsystems/MediaStorage/IMediaStorageService.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageController.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageService.cs
  backend/HighFive/src/Subsystems/Pipelines/IPipelineService.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineController.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineService.cs
  backend/HighFive/src/Subsystems/Test/TestController.cs
Labels: azure, backend, enhancement, users

#135 Backend feature pipelinestorage
  backend/HighFive/src/OpenAPI/Controllers/PipelinesApi.cs
  backend/HighFive/src/OpenAPI/Models/GetPipelineIdsResponse.cs
  backend/HighFive/src/OpenAPI/Models/GetPipelineRequest.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageService.cs
  backend/HighFive/src/Subsystems/Pipelines/IPipelineService.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineController.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineService.cs
  backend/HighFive/tests/IntegrationTests/PipelinesIntegrationTests.cs
  backend/HighFive/tests/UnitTests/PipelinesUnitTest.cs
Labels: api, backend, pipelines, requested

#136 Backend development
  backend/HighFive/src/OpenAPI/Controllers/MediaStorageApi.cs
  backend/HighFive/src/OpenAPI/Controllers/PipelinesApi.cs
  backend/HighFive/src/OpenAPI/Models/GetAllImagesResponse.cs
  backend/HighFive/src/OpenAPI/Models/GetPipelineIdsResponse.cs
  backend/HighFive/src/OpenAPI/Models/GetPipelineRequest.cs
  backend/HighFive/src/OpenAPI/Models/GetVideoResponse.cs
  backend/HighFive/src/OpenAPI/Models/ImageMetaData.cs
  backend/HighFive/src/OpenAPI/Models/StoreVideoResponse.cs
  backend/HighFive/src/OpenAPI/Models/VideoMetaData.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Startup.cs
  backend/HighFive/src/Storage/BlobFile.cs
  backend/HighFive/src/Storage/IBlobFile.cs
  backend/HighFive/src/Storage/IStorageManager.cs
  backend/HighFive/src/Storage/MockBlobFile.cs
  backend/HighFive/src/Storage/MockStorageManager.cs
  backend/HighFive/src/Storage/StorageManager.cs
  backend/HighFive/src/Subsystems/MediaStorage/IMediaStorageService.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageController.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageService.cs
  backend/HighFive/src/Subsystems/Pipelines/IPipelineService.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineController.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineService.cs
  backend/HighFive/src/Subsystems/Test/TestController.cs
  backend/HighFive/src/Utils/Controller/GetVideoApi.cs
  backend/HighFive/src/Utils/Controller/GetVideoController.cs
  backend/HighFive/tests/IntegrationTests/MediaStorageIntegrationTests.cs
  backend/HighFive/tests/IntegrationTests/PipelinesIntegrationTests.cs
  backend/HighFive/tests/IntegrationTests/Setup/MockImage.jpeg
  backend/HighFive/tests/IntegrationTests/Setup/TestStartup.cs
  backend/HighFive/tests/UnitTests/MediaStorageUnitTests.cs
  backend/HighFive/tests/UnitTests/PipelinesUnitTest.cs
Labels: api, azure, backend, media storage, pipelines, requested, users

#146 Mobile feature login
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/LoginActivity.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/model/LoginRepository.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/model/source/APILogin.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/model/source/LoginDataSource.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/viewmodel/LoginViewModel.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/utils/appauth/Configuration.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/utils/factories/AuthConverterFactory.kt
  mobile/app/src/main/res/layout/activity_login.xml
Labels: mobile, azure

#160 Mobile feature login
  mobile/app/src/androidTest/java/com/bdpsolutions/highfive/helpers/ViewModelMockRepositoryFactory.kt
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/bdpsolutions/highfive/constants/Queries.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/constants/TodoStatements.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/analysis/viewmodel/AnalysisViewModel.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/LoginActivity.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/model/AuthenticationRepository.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/model/AuthenticationRepositoryImpl.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/model/LoginRepository.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/model/dataclass/AccessTokenEndpoint.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/model/dataclass/AccessTokenResponse.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/model/dataclass/AuthToken.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/model/dataclass/AuthTokenDao.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/model/source/APILogin.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/model/source/APIRefreshToken.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/model/source/LoginDataSource.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/login/viewmodel/LoginViewModel.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/splash/SplashActivity.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/splash/viewmodel/SplashViewModel.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/splash/viewmodel/SplashViewModelFactory.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/utils/GetTimestamp.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/utils/factories/ViewModelProviderFactory.kt
  mobile/app/src/main/res/layout/activity_splash.xml
  mobile/app/src/test/java/com/bdpsolutions/highfive/utils/factories/ViewModelProviderFactoryTest.kt
  web/src/app/components/pipeline/pipeline.component.ts
Labels: mobile

#171 Analysis Update #2
  backend/HighFive/src/AnalysisTools/AnalyserImpl.cs
  backend/HighFive/src/AnalysisTools/AnalysisThread/PostprocessThread.cs
  backend/HighFive/src/AnalysisTools/AnalysisThread/PreprocessThread.cs
  backend/HighFive/src/AnalysisTools/AnalysisThread/ProcessThread.cs
  backend/HighFive/src/AnalysisTools/AnalysisThread/ToolRunner.cs
  backend/HighFive/src/AnalysisTools/AnalysisThread/ToolThreadAllocator.cs
  backend/HighFive/src/AnalysisTools/ConcreteTools/AnimalRecognition.cs
  backend/HighFive/src/AnalysisTools/ConcreteTools/CarRecognition.cs
  backend/HighFive/src/AnalysisTools/ConcreteTools/PersonRecognition.cs
  backend/HighFive/src/AnalysisTools/IAnalyser.cs
  backend/HighFive/src/AnalysisTools/ITool.cs
  backend/HighFive/src/AnalysisTools/MiscTools/BoxDrawer.cs
  backend/HighFive/src/AnalysisTools/Tool.cs
  backend/HighFive/src/AnalysisTools/VideoDecoder/IVideoDecoder.cs
  backend/HighFive/src/AnalysisTools/VideoDecoder/VideoDecoder.cs
  backend/HighFive/src/OpenAPI/Models/VideoMetaData.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Startup.cs
  backend/HighFive/src/Storage/BlobFile.cs
  backend/HighFive/src/Storage/IBlobFile.cs
  backend/HighFive/src/Storage/MockBlobFile.cs
  backend/HighFive/src/Storage/StorageManager.cs
  backend/HighFive/src/Subsystems/Analysis/AnalysisModels.cs
  backend/HighFive/src/Subsystems/Analysis/AnalysisService.cs
  backend/HighFive/src/Subsystems/Analysis/IAnalysisModels.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageService.cs
  backend/HighFive/src/Subsystems/Test/TestController.cs
  backend/HighFive/src/src.csproj
  backend/HighFive/tests/UnitTests/MediaStorageUnitTests.cs
Labels: enhancement, backend, analysis

#191 Backend feature analysis pipeline
  backend/HighFive/src/AnalysisTools/VideoDecoder/VideoDecoder.cs
  backend/HighFive/src/OpenAPI/Controllers/AnalysisApi.cs
  backend/HighFive/src/OpenAPI/Controllers/MediaStorageApi.cs
  backend/HighFive/src/OpenAPI/Models/AnalyzeImageRequest.cs
  backend/HighFive/src/OpenAPI/Models/AnalyzeVideoRequest.cs
  backend/HighFive/src/OpenAPI/Models/AnalyzedVideoMetaData.cs
  backend/HighFive/src/OpenAPI/Models/StoreVideoResponse.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Startup.cs
  backend/HighFive/src/Storage/BlobFile.cs
  backend/HighFive/src/Subsystems/Analysis/AnalysisController.cs
  backend/HighFive/src/Subsystems/Analysis/AnalysisService.cs
  backend/HighFive/src/Subsystems/Analysis/IAnalysisService.cs
  backend/HighFive/src/Subsystems/MediaStorage/IMediaStorageService.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageController.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageService.cs
Labels: backend, api, media storage, analysis, requested

#195 Backend feature websockets
  backend/HighFive/src/OpenAPI/Controllers/UserApi.cs
  backend/HighFive/src/OpenAPI/Models/GetAllUsersResponse.cs
  backend/HighFive/src/OpenAPI/Models/User.cs
  backend/HighFive/src/OpenAPI/Models/UserRequest.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Startup.cs
  backend/HighFive/src/Storage/IStorageManager.cs
  backend/HighFive/src/Storage/MockStorageManager.cs
  backend/HighFive/src/Storage/StorageManager.cs
  backend/HighFive/src/Subsystems/Admin/AdminValidator.cs
  backend/HighFive/src/Subsystems/Admin/IAdminValidator.cs
  backend/HighFive/src/Subsystems/MediaStorage/IMediaStorageService.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageController.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageService.cs
  backend/HighFive/src/Subsystems/Pipelines/IPipelineService.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineController.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineService.cs
  backend/HighFive/src/Subsystems/Test/TestController.cs
  backend/HighFive/src/Subsystems/User/IUserService.cs
  backend/HighFive/src/Subsystems/User/TokenResult.cs
  backend/HighFive/src/Subsystems/User/UserController.cs
  backend/HighFive/src/Subsystems/User/UserService.cs
  backend/HighFive/src/Websockets/WebsocketController.cs
  backend/HighFive/src/Websockets/WebsocketControllerAbstract.cs
  backend/HighFive/tests/IntegrationTests/AnalysisIntegrationTests.cs
  backend/HighFive/tests/UnitTests/AnalysisUnitTests.cs
Labels: enhancement, backend, users

#196 Backend feature websockets
  backend/HighFive/src/Subsystems/Analysis/AnalysisController.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageController.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageService.cs
  backend/HighFive/src/Websockets/WebsocketController.cs
  backend/HighFive/src/Websockets/WebsocketControllerAbstract.cs
  backend/HighFive/src/src.csproj
Labels: enhancement, backend, requested

#207 Backend feature websockets
  backend/HighFive/src/OpenAPI/Controllers/UserApi.cs
  backend/HighFive/src/OpenAPI/Models/CreatePipelineResponse.cs
  backend/HighFive/src/OpenAPI/Models/User.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Storage/StorageManager.cs
  backend/HighFive/src/Subsystems/Admin/AdminValidator.cs
  backend/HighFive/src/Subsystems/Admin/IAdminValidator.cs
  backend/HighFive/src/Subsystems/Analysis/AnalysisController.cs
  backend/HighFive/src/Subsystems/MediaStorage/IMediaStorageService.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageController.cs
  backend/HighFive/src/Subsystems/MediaStorage/MediaStorageService.cs
  backend/HighFive/src/Subsystems/Pipelines/PipelineService.cs
  backend/HighFive/src/Subsystems/User/IUserService.cs
  backend/HighFive/src/Subsystems/User/UserController.cs
  backend/HighFive/src/Subsystems/User/UserService.cs
  backend/HighFive/src/appsettings.json
  backend/HighFive/tests/IntegrationTests/PipelinesIntegrationTests.cs
Labels: backend, requested, users
