Repository COS301-SE-2021/High-Five, pull requests merged in 2021-09, with the labels that each got.

#208 Changed post requests without bodies to get requests.
  backend/HighFive/src/OpenAPI/Controllers/AnalysisApi.cs
  backend/HighFive/src/OpenAPI/Controllers/MediaStorageApi.cs
  backend/HighFive/src/OpenAPI/Controllers/PipelinesApi.cs
  backend/HighFive/src/OpenAPI/Controllers/UserApi.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Subsystems/Analysis/AnalysisModels.cs
Labels: backend, api

#223 Backend feature tools
  backend/HighFive/src/OpenAPI/Controllers/ToolsApi.cs
  backend/HighFive/src/OpenAPI/Controllers/UserApi.cs
  backend/HighFive/src/OpenAPI/Models/DeleteToolRequest.cs
  backend/HighFive/src/OpenAPI/Models/GetAllToolsResponse.cs
  backend/HighFive/src/OpenAPI/Models/GetToolTypesResponse.cs
  backend/HighFive/src/OpenAPI/Models/IsAdminResponse.cs
  backend/HighFive/src/OpenAPI/Models/Tool.cs
  backend/HighFive/src/Program.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Startup.cs
  backend/HighFive/src/Storage/StorageManager.cs
  backend/HighFive/src/Subsystems/Tools/IToolService.cs
  backend/HighFive/src/Subsystems/Tools/ToolController.cs
  backend/HighFive/src/Subsystems/Tools/ToolService.cs
  backend/HighFive/src/Subsystems/User/UserController.cs
Labels: backend, api, tools

#245 Backend feature tools
  backend/HighFive/src/Startup.cs
  backend/HighFive/src/Subsystems/Analysis/AnalysisController.cs
  backend/HighFive/src/Subsystems/Analysis/AnalysisService.cs
  backend/HighFive/src/Subsystems/Analysis/IAnalysisService.cs
  backend/HighFive/src/Subsystems/Tools/ToolService.cs
  backend/HighFive/src/Websockets/IWebSocketClient.cs
  backend/HighFive/src/Websockets/SocketRequest.cs
  backend/HighFive/src/Websockets/SocketResponse.cs
  backend/HighFive/src/Websockets/WebSocketClient.cs
  backend/HighFive/src/Websockets/WebsocketController.cs
  backend/HighFive/src/Websockets/WebsocketControllerAbstract.cs
  backend/HighFive/src/src.csproj
Labels: enhancement, backend, api, analysis

#199 Mobile feature backgroundupload
  mobile/app/build.gradle
  mobile/app/src/androidTest/java/com/bdpsolutions/highfive/helpers/ViewModelMockRepositoryFactory.kt
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/bdpsolutions/highfive/constants/MediaTypes.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/constants/RepositoryTypes.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/services/mediaupload/MediaUploadService.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/services/mediaupload/observers/MediaObserver.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/services/mediaupload/uploader/IUploaderStrategy.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/services/mediaupload/uploader/ImageUploaderStrategy.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/services/mediaupload/uploader/MediaUploader.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/services/mediaupload/uploader/VideoUploaderStrategy.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/image/ImageFragment.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/image/model/ImageRepository.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/image/model/dataclass/ImageInfoEndpoint.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/image/model/repository/ImageRepository.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/image/model/repository/ImageRepositoryImpl.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/image/model/source/APIImageDataSource.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/image/model/source/ImageDataSource.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/image/viewmodel/ImageViewModel.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/video/fragment/VideoFragment.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/video/model/dataclass/VideoInfoEndpoint.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/video/model/repository/VideoDataRepository.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/video/model/repository/VideoDataRepositoryImpl.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/video/model/source/APIVideoDataSource.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/video/model/source/VideoDataSource.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/subsystems/video/viewmodel/VideoViewModel.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/utils/factories/RepositoryFactory.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/utils/factories/RepositoryFactoryImpl.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/utils/factories/RepositoryFactoryProvider.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/utils/factories/ViewModelFactoryProvider.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/utils/factories/ViewModelProviderFactory.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/utils/retrofit/CountingRequestBody.kt
  mobile/app/src/main/java/com/bdpsolutions/highfive/utils/retrofit/OkHttpConfiguration.kt
  mobile/app/src/test/java/com/bdpsolutions/highfive/utils/factories/ViewModelProviderFactoryTest.kt
Labels: enhancement, ux, mobile, media storage

#257 Broker feature mediator
  broker/BrokerServer/build.gradle
  broker/BrokerServer/src/main/java/clients/servers/KafkaServerParticipant.java
  broker/BrokerServer/src/main/java/clients/webclients/ClientParticipant.java
  broker/BrokerServer/src/main/java/clients/webclients/strategy/StoredMediaAnalysisStrategy.java
  broker/BrokerServer/src/main/java/dataclasses/analysiscommand/AnalysisCommand.java
  broker/BrokerServer/src/main/java/dataclasses/clientrequest/codecs/RequestDecoder.java
  broker/BrokerServer/src/main/java/dataclasses/serverinfo/ServerInformationHolder.java
  broker/BrokerServer/src/main/java/dataclasses/serverinfo/ServerTopics.java
  broker/BrokerServer/src/main/java/listeners/servers/KafkaTopicListener.java
  broker/BrokerServer/src/main/java/managers/server/ServerManagerImpl.java
  broker/BrokerServer/src/main/java/managers/topicmanager/TopicManager.java
  broker/BrokerServer/src/main/java/servicelocator/wrappers/ServerListenerWrapper.java
  broker/BrokerServer/src/main/java/servicelocator/wrappers/ServerParticipantWrapper.java
  broker/BrokerServer/src/main/resources/response_messages.json
  broker/BrokerServer/src/main/resources/server_information.json
  broker/BrokerWebSocket/src/main/java/WebSocketConnection.java
  broker/BrokerWebSocket/src/main/resources/log4j2.xml
Labels: backend, streaming, sdk

#258 Broker development
  broker/BrokerServer/build.gradle
  broker/BrokerServer/src/main/java/clients/servers/KafkaServerParticipant.java
  broker/BrokerServer/src/main/java/clients/webclients/ClientParticipant.java
  broker/BrokerServer/src/main/java/clients/webclients/strategy/StoredMediaAnalysisStrategy.java
  broker/BrokerServer/src/main/java/dataclasses/analysiscommand/AnalysisCommand.java
  broker/BrokerServer/src/main/java/dataclasses/clientrequest/codecs/RequestDecoder.java
  broker/BrokerServer/src/main/java/dataclasses/serverinfo/ServerInformationHolder.java
  broker/BrokerServer/src/main/java/dataclasses/serverinfo/ServerTopics.java
  broker/BrokerServer/src/main/java/listeners/servers/KafkaTopicListener.java
  broker/BrokerServer/src/main/java/managers/server/ServerManagerImpl.java
  broker/BrokerServer/src/main/java/managers/topicmanager/TopicManager.java
  broker/BrokerServer/src/main/java/servicelocator/wrappers/ServerListenerWrapper.java
  broker/BrokerServer/src/main/java/servicelocator/wrappers/ServerParticipantWrapper.java
  broker/BrokerServer/src/main/resources/response_messages.json
  broker/BrokerServer/src/main/resources/server_information.json
  broker/BrokerWebSocket/src/main/java/WebSocketConnection.java
  broker/BrokerWebSocket/src/main/resources/log4j2.xml
Labels: backend, streaming, websockets, sdk

#261 Backend feature tools
  backend/HighFive/src/OpenAPI/Controllers/DownloadsApi.cs
  backend/HighFive/src/OpenAPI/Controllers/LivestreamApi.cs
  backend/HighFive/src/OpenAPI/Controllers/ToolsApi.cs
  backend/HighFive/src/OpenAPI/Models/CreateStreamingUrlResponse.cs
  backend/HighFive/src/OpenAPI/Models/DownloadSdkFilesResponse.cs
  backend/HighFive/src/OpenAPI/Models/FileDownload.cs
  backend/HighFive/src/OpenAPI/Models/GetToolFilesRequest.cs
  backend/HighFive/src/OpenAPI/Models/GetToolFilesResponse.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Startup.cs
  backend/HighFive/src/Subsystems/Analysis/AnalysisController.cs
  backend/HighFive/src/Subsystems/Analysis/AnalysisService.cs
  backend/HighFive/src/Subsystems/Analysis/IAnalysisService.cs
  backend/HighFive/src/Subsystems/FileDownloads/DownloadsController.cs
  backend/HighFive/src/Subsystems/FileDownloads/DownloadsService.cs
  backend/HighFive/src/Subsystems/FileDownloads/IDownloadsService.cs
  backend/HighFive/src/Subsystems/Livestreaming/ILivestreamingService.cs
  backend/HighFive/src/Subsystems/Livestreaming/LivestreamingController.cs
  backend/HighFive/src/Subsystems/Livestreaming/LivestreamingService.cs
  backend/HighFive/src/Subsystems/Tools/IToolService.cs
  backend/HighFive/src/Subsystems/Tools/ToolController.cs
  backend/HighFive/src/Subsystems/Tools/ToolService.cs
  backend/HighFive/src/Subsystems/User/IUserService.cs
  backend/HighFive/src/Subsystems/User/UserController.cs
  backend/HighFive/src/Subsystems/User/UserService.cs
  backend/HighFive/src/Websockets/BrokerSocketRequest.cs
  backend/HighFive/src/Websockets/WebsocketController.cs
  backend/HighFive/src/appsettings.json
Labels: backend, tools

#264 Backend feature websockets
  backend/HighFive/src/OpenAPI/Controllers/LivestreamApi.cs
  backend/HighFive/src/OpenAPI/Models/CreateOneTimeTokenRequest.cs
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Subsystems/Analysis/AnalysisService.cs
  backend/HighFive/src/Subsystems/Analysis/IAnalysisService.cs
  backend/HighFive/src/Subsystems/Livestreaming/ILivestreamingService.cs
  backend/HighFive/src/Subsystems/Livestreaming/LiveStreamingLinks.cs
  backend/HighFive/src/Subsystems/Livestreaming/LivestreamingController.cs
  backend/HighFive/src/Subsystems/Livestreaming/LivestreamingService.cs
  backend/HighFive/src/Subsystems/Test/ITestInterface.cs
  backend/HighFive/src/Subsystems/Test/Malicious.cs
  backend/HighFive/src/Subsystems/Test/TestContext.cs
  backend/HighFive/src/Subsystems/Test/TestController.cs
  backend/HighFive/src/Websockets/BrokerSocketRequest.cs
  backend/HighFive/src/Websockets/WebsocketController.cs
Labels: backend, api, tools

#265 Backend feature websockets
  backend/HighFive/src/Resources/application.yml
  backend/HighFive/src/Subsystems/Analysis/AnalysisService.cs
  backend/HighFive/src/Subsystems/Analysis/IAnalysisService.cs
  backend/HighFive/src/Subsystems/Livestreaming/LivestreamingController.cs
  backend/HighFive/src/Subsystems/Tools/IToolService.cs
  backend/HighFive/src/Subsystems/Tools/ToolController.cs
  backend/HighFive/src/Subsystems/Tools/ToolService.cs
  backend/HighFive/src/Websockets/SocketRequest.cs
  backend/HighFive/src/Websockets/SocketResponseBody.cs
  backend/HighFive/src/Websockets/WebsocketController.cs
Labels: backend, analysis, streaming, websockets
